doctype 5
html(lang="en")
    head
        title Tabu.js
        link(rel="stylesheet", href="/stylesheets/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        #tabu
        script(language="javascript", data-main="/javascripts/tabu", src="/javascripts/require.js")


