doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript', src='/javascripts/jquery-1.7.2.js')
  body
      .container
        block content
        
    block scripts
