<div id="form-container" class="main-container">
  <div class="rules">
    <h2>Reglas: </h2>
    <ol>
      <li>Forma 2 equipos de al menos 2 jugadores cada uno.</li> 
      <li>Durante su turno, un jugador debera hacer que el resto de su equipo,
      adivine la palabra en cuestion.</li> 
      <li>No podrá usar las palabras distadas (¡Ni sus familias!)</li>
      <li>Solo una persona del equipo puede ver las cartas durante su turno.</li> 
      <li>Solo una persona del equipo contrario puede supervisar.</li>
    <ol>
  </div>
	<button type="button" class="btn btn-block create-game button">Comenzar juego nuevo</button>
  <button type="button" class="btn btn-danger btn-block app-install button">Instalar Webapp</button>
</div>
