	<div id="form-container" class="well .top-padding span12 offset2">
		<form action="" class="login-form">
				<fieldset>
						<legend>Enter a game o create it</legend>
						<input  type="text", name="game", placeholder="Join a game entering its ID" class="game-id input-block-level" />  
						<button type="button" class="enter-game btn btn-large btn-success btn-block">Enter</button>
						<button type="button" class="create-game btn btn-large btn-primary btn-block">Create new game</button>
				</fieldset>
		</form>
	</div>
