@import "normalize.css";
/* MIXINS */
.subtle-wood {
  background-image: url("../img/subtle-wood.gif");
}
body {
  background-color: #000000;
  color: #FFFFFF;
}
#tabu {
  position: fixed;
  border: none;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}
#tabu .main-container {
  height: 100%;
}
#tabu .main-container .next-team {
  text-align: center;
}
#tabu .main-container .scores {
  width: 80%;
  margin-left: 15%;
  margin-top: 5%;
}
#tabu .main-container .scores .team-score {
  text-align: center;
  font-size: 8rem;
}
#tabu .main-container .scores .score_info .team-label {
  border-bottom: 1px solid #FFFFFF;
}
#tabu .main-container .scores .score_a {
  float: left;
}
#tabu .main-container .scores .score_b {
  float: left;
}
@media (min-width: 296px) {
  #tabu .main-container .scores .score_b {
    border-left: 1px solid #FFFFFF;
  }
}
#tabu .main-container .card ul {
  list-style-type: none;
}
#tabu .main-container .card.not-selected {
  display: none;
}
#tabu .button {
  border: none;
  border-radius: 20px;
  font-weight: bold;
}
#tabu .button.create-game {
  margin-top: 35%;
  margin-left: 25%;
  width: 50%;
  height: 30%;
}
