@import "normalize.css";
@import "variables.less";

body {
  background-color: #000000;
  color: #FFFFFF;
}

#tabu {
  position: fixed;
  border: none;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%; 
  .main-container {
    height: 100%;
    .next-team {
      text-align: center;
    }
    .scores {
      width: 80%;
      margin-left: 15%;
      margin-top: 5%;
      .team-score {
        text-align: center;
        font-size: 8rem;
      }
      .score_info {
        .team-label {
          border-bottom: 1px solid #FFFFFF;
        }
      }
      .score_a {
        float: left;
      }
      .score_b {
        float: left;
        @media (min-width : 296px) { 
          border-left: 1px solid #FFFFFF;
        };
      }
    }
    .card {
      ul {
        list-style-type: none;
      }
      &.not-selected {
        display: none;
      }
    }
  }
  .button {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    &.create-game {
      margin-top: 35%;
      margin-left: 25%;
      width: 50%;
      height: 30%;
    }
  }
}
