@import "normalize.css";
body {
  font-family: Times, serif;
  font-size: 12px;
  background-color: #AD2D37;
}
fieldset {
  border: 0;
}
fieldset legend {
  font-size: 2em;
}
.add-shadow {
  box-shadow: 11px 9px 21px 2px;
}
.centered {
  margin: 0 auto;
  margin-top: 8em;
}
#form-container {
  width: 50em;
  margin: 0 auto;
  margin-top: 8em;
  box-shadow: 11px 9px 21px 2px;
}
#form-container .game-id {
  height: 3em;
}
#request-turn {
  margin: 0 auto;
  margin-top: 8em;
  width: 5em;
}
#cards-container {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 8em;
  border: 2px solid #000000;
  text-align: center;
  box-shadow: 6px 5px 18px -3px;
  width: 27em;
  height: 33em;
  background-color: #ffc4b2;
}
#cards-container .card.not-selected {
  display: none;
}
#cards-container .card h3.card-title {
  background-color: #D4CDF9;
}
#cards-container .card ul.card-tabues {
  list-style: none;
}
#cards-container .card ul.card-tabues li.tabu {
  line-height: 2em;
  font-size: 3em;
}
.score.ng-binding {
  font-size: 8em;
  clear: both;
  padding-top: 50px;
}
.buttons {
  width: 316px;
  margin-top: 30px;
}
.buttons .newCard-button {
  background-image: url("/img/Crystal_Clear_action_button_cancel.png");
  width: 128px;
  height: 128px;
  display: block;
  text-indent: -30000em;
  float: left;
}
.buttons .correct-button {
  background-image: url("/img/Crystal_Clear_action_apply.png");
  width: 128px;
  height: 128px;
  display: block;
  text-indent: -30000em;
  float: left;
  margin-left: 60px;
}
