extends ../layout

block content
    #cards-container
    .buttons
      a.newCard-button.button Give me other!
      a.correct-button.button correct!
    .score


block scripts
  script(language="javascript", data-main="javascripts/bootstrap", src="javascripts/libs/require.js")
