extends ../layout

block content
    #card
      h2.card-word <%= word %>
    .buttons
      a.newCard-button Give me other!
      a.correct-button correct!
    .score
      {{score}}


block scripts
  script(language="javascript", src="/javascripts/libs/underscore.js")
  script(language="javascript", src="/javascripts/libs/zepto.js")
  script(language="javascript", src="/javascripts/libs/backbone.js")
  script(language="javascript", src="/javascripts/tabu.js")
